[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/grapes"]
	path = themes/grapes
	url = https://github.com/shankar/hugo-grapes.git
